.headImg {
    height: 16.875rem;
    background-image: url('./about.png');
    background-size: 100% auto;
    background-position: 0% 50%;
}

.desc-card {
    width: 41.875rem;
    height: 8.5625rem;
    background: #C02A35;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04);
    margin: 1.875rem 2.5rem;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 100% 0;
    padding-left: 2.125rem;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 3.75rem;
}

.desc-card-title {
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-top: 2rem;
}

.desc-card-text {
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 28px;
    margin-top: 1.5625rem;
}

.desc-card-1 {
    background-image: url(./svgs/1.svg);
}

.desc-card-2 {
    background-image: url(./svgs/2.svg);
}

.desc-card-3 {
    background-image: url(./svgs/3.svg);
}

.project {
    margin-top: 2.5rem;
}

.project-desc {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
    color: #333;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 3.25rem;
}

.project-desc span {
    margin-bottom: 3rem;
}

.project-desc b {
    color: #333;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 3.25rem;
}