<div class="about-card">
    <div class="about-card-title title-card-main">关于力码</div>
    <div class="about-minttle">提供全链条数字化服务能力，成为保险经营者最信赖的伙伴</div>
    <div class="about-info" ref="aboutInfo">
        <div style="height: 41.875rem;transition: height 0.5s;" ref="aboutInfoText" class="about-info-text">
            <div>
                北京力码科技有限公司（以下简称“力码科技”）成⽴于2017年，总部位于北京望京SOHO。公司核心团队多来自泰康集团、平安集团、中金、阿里、华为、美团、58等头部的行业和互联网公司，具有丰富的保险金融、互联网、风控合规及中介管理工作经验，对整个保险行业及其上下游价值链、底层技术架构有着深厚的认知与了解。
            </div>
            <div>
                作为保险产业链新基建公司，力码科技秉持“让保险经营更简单”的企业使命，基于AI智能、云计算、大数据等信息技术，优化保险产业链成本结构，重塑行业价值，为广大保险经营者提供保险产品供应链、保险经营管理SaaS以及客户成功服务等在内的综合性“互联网+”解决方案，助力合作伙伴降本增效，提升保险服务效率和服务质量，打造一个自主可控、开放共赢的数字化保险服务平台。公司目前已累计赋能企业客户超2500家，推出保险SaaS模块上百个，合作商户可以根据自身系统化程度、业务特点、组织发展特性等订阅相关模块。
            </div>
            <div>同时，力码科技旗下控股两家专业保险代理机构，分支机构覆盖北京、天津、广东、山东等全国20余个经济发达地区，目前已累计合作保险公司超100家，对接保险产品1500款。</div>
            <div>
                自成立至今，力码科技已完成多轮融资，总融资⾦额超6亿元，资方包括高瓴创投、GGV纪源资本、独秀资本、心元资本等全球知名机构。同时，公司稳健的经营风格和极富前瞻性的商业模式也广受行业内外认可，先后获评长城战略咨询“2021GEI中国潜在独角兽企业”、福布斯中国“企业科技50强”、《亚洲保险评论》联合CB
                Insight及韦莱韬悦共同评选的“2021亚洲保险科技Top25”榜单、胡润研究院“2021胡润中国猎豹企业”、朝阳区首批“未来独角兽”等诸多殊荣。</div>
        </div>
        <div class="about-info-more" ref="showMore">
            <span>展开详细</span>
            <svg class="about-info-more-down" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                viewBox="0 0 28 28" fill="none">
                <path d="M21 11L14 17.1327L6.99998 11" stroke="#C02A35" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</div>