<div class="about-card">
    <div class="about-card-title title-card-main">关于力码</div>
    <div class="about-info" ref="aboutInfo">
        <p style="height: 10.9375rem;transition: height 0.5s;" ref="aboutInfoText">
            ⼗四五规划明确将创新驱动作为发展方向，重点提升“金融科技水平”，注重信息科技对于金融服务效率的提升和普惠性。力码科技成⽴于2017年，公司核心团队多来自头部保险公司和互联网科技公司，兼具“保险+科技”双重基因，对整个保险行业及其上下游价值链、底层技术架构有着深厚的认知与了解。
            作为保险产业链新基建公司，力码科技秉持“让保险经营更简单”的企业使命，基于AI智能、云计算、大数据等信息技术，优化保险产业链成本结构，重塑行业价值，为广大保险经营者提供保险SaaS、产品供应链以及客户成功服务在内的综合性“互联网+”解决方案，助力合作伙伴降本增效，提升保险服务效率和服务质量，让保险回归保障本源，助推保险行业数字化升级改造。
        </p>
        <div class="about-info-more" ref="showMore"><span>展开详细</span>
            <svg class="about-info-more-down" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                viewBox="0 0 28 28" fill="none">
                <path d="M21 11L14 17.1327L6.99998 11" stroke="white" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</div>