.about-bgimg {
    width: 100%;
}

.about-info {
    background: rgb(157, 6, 17);
    padding: 2.5rem;
}

.about-info-show {
    background-image: url(./aboutBg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 100%;
}

.about-info p {
    color: #FCE4DC;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2.75rem;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.about-info-more {
    width: 41.875rem;
    height: 5.5rem;
    border-radius: 3px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-info-more-down {
    width: 1.75rem;
    height: 1.75rem;
}