.evaluate-card {
    margin-top: 3.75rem;
}

.evaluate-card-info {
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.06);
    width: 41.875rem;
    height: 42.75rem;
    overflow: auto;
    flex-shrink: 0;
    margin: 0 2.5rem 3.75rem 2.5rem;
    background: url(./img/“.svg) no-repeat;
    background-position: 2.5625rem 2.8125rem;
    background-size: 8.4375rem 6.4375rem;
}

.evaluate-card-info-text-xy {
    line-height: 4rem !important;
}

.evaluate-card-info-text {
    color: #666;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 3.25rem;
    margin-left: 2.5rem;
    margin-top: 4.625rem;
    width: calc(100% - 5rem);
}

.evaluate-card-info-rich {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 5rem);
    margin-left: 2.5rem;
    margin-top: 4.25rem;
}

.evaluate-card-info-rich-img-1 {
    background: url(./img/gaoling_logo.png);
}

.evaluate-card-info-rich-img-2 {
    background: url(./img/ggv.png);
}

.evaluate-card-info-rich-img-3 {
    background-size: 10.25rem auto !important;
    background: url(./img/unicorn.png);
}

.evaluate-card-info-rich-img-4 {
    background-size: 8.25rem auto !important;
    background: url(./img/xyzb.png);
}

.evaluate-card-info-rich-img {
    background-size: 15.25rem auto;
    background-repeat: no-repeat;
    width: 15.25rem;
}

.evaluate-card-info-rich-from {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.evaluate-card-info-rich-from div {
    float: right;
    color: #666;
    text-align: center;
    font-weight: 600;
    line-height: 1.6875rem;
}

.evaluate-card-info-rich-from div[name] {
    font-size: 1.5rem;
}

.evaluate-card-info-rich-from div[from] {
    font-size: 1.125rem;
}

.evaluate-card-info-list {
    width: 100%;
    overflow: hidden;
}

.evaluate-card-info-scroll {
    display: flex;
    transition: all .4s;
}

.evaluate-card-info-step {
    width: 12.25rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.evaluate-card-info-step div {
    height: .25rem;
    width: 2.125rem;
    background-color: #E4E8EC;
}

.evaluate-card-info-step-active {
    background: #C02A35 !important;
}

@media screen and (max-width:300px) {
    .evaluate-card-info {
        height: 48.75rem !important;
    }

    .evaluate-card-info-rich-from div {
        line-height: 2.6875rem !important;
    }
}