<div class="evaluate-card">
    <div class="evaluate-card-title title-card-main">投资机构评价</div>
    <div class="evaluate-card-info-list">
        <div class="evaluate-card-info-scroll" ref="scroll">
            <div class="evaluate-card-info">
                <div class="evaluate-card-info-text">
                    力码科技通过对保险行业产业链、生态环境和技术架构的深刻理解、技术创新和服务创新，推出了基于SaaS的微服务与微核心服务体系架构，为行业生态中的上下游连接和增值服务。同时，高瓴在医疗、健康、消费、出行等领域有广泛的布局，我们将利用这些丰富的异业场景，积极为力码科技赋能，在保险领域创造新的增长点。我们对力码的团队以及公司未来的发展充满信心。
                </div>
                <div class="evaluate-card-info-rich">
                    <div class="evaluate-card-info-rich-img evaluate-card-info-rich-img-1"></div>
                    <div class="evaluate-card-info-rich-from">
                        <div name>黄 立 明</div>
                        <div from>高瓴资本合伙人</div>
                    </div>
                </div>
            </div>
            <div class="evaluate-card-info">
                <div class="evaluate-card-info-text">
                    信息化、云化和智能化在今天的保险行业都具有巨大的空间，力码科技是少数能够完整提供三方面价值的公司。马琳和她的团队拥有深厚的保险行业背景，真正了解所服务的客户，又对保险行业未来的趋势有着清晰和坚定的信念，能把这两者融入到产品和服务中，我们认为这正是今天保险行业发展阶段所需的，这也是GGV和其它投资行业同仁持续支持力码的原因所在
                </div>
                <div class="evaluate-card-info-rich">
                    <div class="evaluate-card-info-rich-img evaluate-card-info-rich-img-2"></div>
                    <div class="evaluate-card-info-rich-from">
                        <div name>吴 陈 尧 </div>
                        <div from>GGV纪源资本合伙人</div>
                    </div>
                </div>
            </div>
            <div class="evaluate-card-info">
                <div class="evaluate-card-info-text">
                    移动互联网和人工智能让互联网产品经历过数次迭代，但是前几波技术浪潮却尚未给保险这个万亿级的行业带来足够的变革。力码科技的团队对于保险行业，其上下游价值链，以及底层技术架构有着深厚的认识与了解。我们对公司未来的发展与前景深具信心，也非常期待公司趁着这波数字化的势头，持续针对保险行业的生态链各方进行降本提效的赋能，并且提供以数据为核心驱动的保险科技一站式解决方案。
                </div>
                <div class="evaluate-card-info-rich">
                    <div class="evaluate-card-info-rich-img evaluate-card-info-rich-img-3"></div>
                    <div class="evaluate-card-info-rich-from">
                        <div name>独 秀 资 本</div>
                        <div from></div>
                    </div>
                </div>
            </div>
            <div class="evaluate-card-info">
                <div class="evaluate-card-info-text evaluate-card-info-text-xy">
                    保险行业的互联网化是我们十分关注的方向，力码科技的核心团队成员均来自大型保险公司或互联网公司，精通保险全行业全流程业务规则，在云计算、大数据、数据库等领域有丰富的操作经验，因此可以把力码打造成为保险供应链的智能中枢。
                </div>
                <div class="evaluate-card-info-rich">
                    <div class="evaluate-card-info-rich-img evaluate-card-info-rich-img-4"></div>
                    <div class="evaluate-card-info-rich-from">
                        <div name>滑 雪</div>
                        <div from>心元资本合伙人</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="evaluate-card-info-step">
        <div ref="info-step"></div>
        <div ref="info-step"></div>
        <div ref="info-step"></div>
        <div ref="info-step"></div>
    </div>
</div>