<div class="evaluate-card">
    <div class="evaluate-card-title title-card-main">投资机构评价</div>
    <div class="evaluate-card-info-list">
        <div class="evaluate-card-info-scroll" ref="scroll">
            <div class="evaluate-card-info">
                <div class="evaluate-card-info-text">
                    保险行业蕴含着巨大的产业升级机遇。力码科技团队深耕保险行业多年，拥有对保险行业的深刻理解、和以创新升级技术和服务的强烈信念，保险行业蕴含着巨大的产业升级机遇。力码科技团队深耕保险行业多年，拥有对保险行业的深刻理解、和以创新升级技术和服务的强烈信念
                </div>
                <div class="evaluate-card-info-rich">
                    <div class="evaluate-card-info-rich-img"></div>
                    <div class="evaluate-card-info-rich-from">
                        <div name>黄 立 明</div>
                        <div from>高瓴资本合伙人</div>
                    </div>
                </div>
            </div>
            <div class="evaluate-card-info">
                <div class="evaluate-card-info-text">
                    保险行业蕴含着巨大的产业升级机遇。力码科技团队深耕保险行业多年，拥有对保险行业的深刻理解、和以创新升级技术和服务的强烈信念，保险行业蕴含着巨大的产业升级机遇。力码科技团队深耕保险行业多年，拥有对保险行业的深刻理解、和以创新升级技术和服务的强烈信念
                </div>
                <div class="evaluate-card-info-rich">
                    <div class="evaluate-card-info-rich-img"></div>
                    <div class="evaluate-card-info-rich-from">
                        <div name>黄 立 明</div>
                        <div from>高瓴资本合伙人</div>
                    </div>
                </div>
            </div>
            <div class="evaluate-card-info">
                <div class="evaluate-card-info-text">
                    保险行业蕴含着巨大的产业升级机遇。力码科技团队深耕保险行业多年，拥有对保险行业的深刻理解、和以创新升级技术和服务的强烈信念，保险行业蕴含着巨大的产业升级机遇。力码科技团队深耕保险行业多年，拥有对保险行业的深刻理解、和以创新升级技术和服务的强烈信念
                </div>
                <div class="evaluate-card-info-rich">
                    <div class="evaluate-card-info-rich-img"></div>
                    <div class="evaluate-card-info-rich-from">
                        <div name>黄 立 明</div>
                        <div from>高瓴资本合伙人</div>
                    </div>
                </div>
            </div>
            <div class="evaluate-card-info">
                <div class="evaluate-card-info-text">
                    保险行业蕴含着巨大的产业升级机遇。力码科技团队深耕保险行业多年，拥有对保险行业的深刻理解、和以创新升级技术和服务的强烈信念，保险行业蕴含着巨大的产业升级机遇。力码科技团队深耕保险行业多年，拥有对保险行业的深刻理解、和以创新升级技术和服务的强烈信念
                </div>
                <div class="evaluate-card-info-rich">
                    <div class="evaluate-card-info-rich-img"></div>
                    <div class="evaluate-card-info-rich-from">
                        <div name>黄 立 明</div>
                        <div from>高瓴资本合伙人</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="evaluate-card-info-step">
        <div ref="info-step"></div>
        <div ref="info-step"></div>
        <div ref="info-step"></div>
        <div ref="info-step"></div>
    </div>
</div>