<div class="honor-card">
    <div class="honor-card-title title-card-main">企业荣誉</div>
    <div class="honor-card-info">
        <div class="honor-card-scroll">
            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor4.png"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">福布斯中国“中国企业科技50强”</div>
                <div class="honor-card-info-content-time">2021-11</div>
            </div>
            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor1.png"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">创始人马琳荣膺艾瑞咨询“金瑞奖 | 数字产业突出贡献人物奖”</div>
                <div class="honor-card-info-content-time">2021-08</div>
            </div>
            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor2.png"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">CFS第十届财经峰会“2021数字化转型推动力奖”</div>
                <div class="honor-card-info-content-time">2021-07</div>
            </div>

            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor11.jpg"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">力码科技蝉联“全球金融科技创新TOP30榜单”</div>
                <div class="honor-card-info-content-time">2023-01</div>
            </div>

            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor10.jpg"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">力码科技荣膺德勤中国2022“中国明日之星”</div>
                <div class="honor-card-info-content-time">2023-01</div>
            </div>

            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor9.jpg"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">力码科技成功入选36氪“2022年度数字化创新服务商”</div>
                <div class="honor-card-info-content-time">2022-11</div>
            </div>

            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor8.jpg"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">「力码科技-保险数字化解决方案」成功入围钛媒体“创新场景50”系列经典实例</div>
                <div class="honor-card-info-content-time">2022-10</div>
            </div>

            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor5.png"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">华夏时报社金手指奖-“2021年度数据智能应用创新企业奖”</div>
                <div class="honor-card-info-content-time">2022-03</div>
            </div>

            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor7.png"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">入选华夏时报金融研究院与算力智库共同发布的《数据智能下的金融数字化转型报告2022》</div>
                <div class="honor-card-info-content-time">2022-03</div>
            </div>

            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor6.png"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">入选中关村科技园区朝阳园管理委员会发布的“2021年朝阳区未来独角兽企业榜单”</div>
                <div class="honor-card-info-content-time">2022-01</div>
            </div>

            <div class="honor-card-info-content">
                <div class="honor-card-info-content-img">
                    <img src="https://lima-cdn.oss-cn-beijing.aliyuncs.com/lima-website/pc/assets/images/honor3.png"
                        alt="">
                </div>
                <div class="honor-card-info-content-title">入选胡润研究院发布的“2021胡润中国猎豹企业”</div>
                <div class="honor-card-info-content-time">2022-01</div>
            </div>

        </div>
    </div>
</div>