<div>
    <div class="friend-card">
        <div class="friend-card-title title-card-main">合作伙伴</div>
        <div class="friend-card-info">
            <div class="friend-card-info-text">
                ⼒码科技旗下控股两家专业保险代理机构，分⽀机构覆盖北京、⼴东、⼭东、福建等全国20多个经济发达区域，⽬前合作保险公司超100家，累计对接保险产品1500+</div>
            <div class="friend-card-info-imgs">
                <img &src="./company/Group 70{item}.png"
                    $for="item in ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15']" />
            </div>
        </div>
    </div>
    <style>
        .friend-card {
            margin-top: 3.5rem;
        }

        .friend-card-info-text {
            width: 41.875rem;
            color: #999;
            text-align: justify;
            font-family: PingFang SC;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.25rem;
            margin-left: 2.5rem;
        }

        .friend-card-info-imgs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: calc(100% - 5rem);
            margin-left: 2.5rem;
            line-height: 7.3125rem;
        }

        .friend-card-info-imgs img {
            width: 13.75rem;
            height: 6.1875rem;
        }
    </style>
</div>