<div class="contact contactActive" ref="svg">
    <svg width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="2" y="2" width="88" height="88" rx="44" fill="url(#paint0_linear_2941_21)" stroke="white"
            stroke-width="4" />
        <path
            d="M61.6719 57.1045V43.6716C61.6719 35.0164 54.6555 28 46.0003 28V28C37.345 28 30.3286 35.0164 30.3286 43.6716V57.1045"
            stroke="white" stroke-width="3.35821" stroke-linecap="round" />
        <rect x="30.3286" y="48.1492" width="7.83582" height="10.0746" rx="1.1194" stroke="white"
            stroke-width="3.35821" />
        <rect x="53.8359" y="48.1492" width="7.83582" height="10.0746" rx="1.1194" stroke="white"
            stroke-width="3.35821" />
        <path d="M61.6718 53.7463V62.7016C61.6718 63.3198 61.1706 63.821 60.5524 63.821H53.8359" stroke="white"
            stroke-width="3.35821" />
        <path
            d="M52.7168 63.2612C52.7168 62.643 53.218 62.1418 53.8362 62.1418H56.075V65.5001H53.8362C53.218 65.5001 52.7168 64.9989 52.7168 64.3807V63.2612Z"
            fill="white" />
        <defs>
            <linearGradient id="paint0_linear_2941_21" x1="46" y1="0" x2="46" y2="92" gradientUnits="userSpaceOnUse">
                <stop stop-color="#A5111B" />
                <stop offset="1" stop-color="#D03944" />
            </linearGradient>
        </defs>
    </svg>
    <style>
        .contact {
            position: fixed;
            width: 5.75rem;
            height: 5.75rem;
            right: .625rem;
            bottom: 15rem;
            transition: all 0.5s;
            opacity: .4;
            transform: translateX(3.125rem) translateY(3.125rem);
            border-radius: 50%;
            box-shadow: 0px 12px 42px 0px rgba(183, 0, 13, 0.10);
        }

        .contact svg {
            width: 100%;
            height: 100%;

        }

        .contactActive {
            opacity: 1;
            transform: translateX(0);
        }
    </style>
</div>