.footerBg {
    height: 23.75rem;
    background: url(./footerBg.png) 100% 100%;
    margin-top: 3.125rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.footer-title {
    margin-top: 3.625rem;
    margin-left: 2.5rem;
    color: #FFF;
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 4rem;
}

.footer-info {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-top: 1.125rem;
    margin-left: 2.5rem;
    line-height: 2.625rem;
}

.footer-btn {
    width: 12.125rem;
    height: 3.75rem;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #FFF;
    font-size: 1.46rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-left: 2.5rem;
    margin-top: 2.125rem;
}

.footer-line {
    display: flex;
    height: 6.125rem;
    justify-content: space-between;
    overflow: hidden;
    padding: 1.9375rem 2.5rem;
    box-sizing: border-box;
    background-image: linear-gradient(180deg, #F2F4F8 0%, #FBFBFE 100%);
}

.footer-line-title {
    color: #333;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.25rem;
}

.footer-bottom {
    padding: 2.9375rem 2.5rem 5rem 2.5rem;
    background: #F3F5F8;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-contact-line::before {
    content: "";
    background: #666;
    width: .2rem;
    display: inline-block;
    height: 1.25rem;
    margin-top: 0.125rem;
}

.footer-contact-line {
    color: #666;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.25rem;
    padding-left: 1.1875rem;
}

.footer-contact-line span {
    margin-left: 1.1875rem;
}

.footer-social {
    display: flex;
    margin-top: 1.875rem;
}

.footer-social div img {
    width: 2.125rem;
    height: 2.125rem;
    margin-right: .5rem;
}

.footer-social div {
    color: #666;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.footer-phone {
    height: 5.5rem;
    background-image: linear-gradient(180deg, #A5111B 0%, #BB1D28 100%);
    margin: 2.5rem 0;
    margin-top: 4.125rem;
    border: 2px solid #fff;
    box-shadow: 0px 10px 30px rgba(183, 0, 13, 0.10);
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.75rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-phone img {
    width: 2.125rem;
    height: 2.125rem;
    margin-right: 1.25rem;
}

.footer-c {
    color: #999;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
}

.mask {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mask img {
    width: 31.25rem;
    height: 31.25rem;
}

.mask span {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 2.5rem;
}