<div>
    <footer>
        <div class="footerBg">
            <div class="footer-title">让保险经营更简单</div>
            <div class="footer-info">
                <span>提供全链条数字化服务能力</span>
                <span>成为保险经营者最信赖的伙伴</span>
            </div>
            <div class="footer-btn">
                免费试用
            </div>
        </div>
        <div class="footer-lines">
            <div class="footer-line">
                <div class="footer-line-title">产品与解决方案</div>
                <div class="footer-line-go"><img src="./go.svg" /></div>
            </div>
            <div class="footer-line">
                <div class="footer-line-title">关于力码</div>
                <div class="footer-line-go"><img src="./go.svg" /></div>
            </div>
            <div class="footer-line">
                <div class="footer-line-title">新闻动态</div>
                <div class="footer-line-go"><img src="./go.svg" /></div>
            </div>
            <div class="footer-line">
                <div class="footer-line-title">加入我们</div>
                <div class="footer-line-go"><img src="./go.svg" /></div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-contact">
                <div class="footer-contact-line">
                    <span>商务洽谈：zhangfan@zhongbaounion.com</span>
                </div>
                <div class="footer-contact-line">
                    <span>商务洽谈：zhangfan@zhongbaounion.com</span>
                </div>
                <div class="footer-contact-line">
                    <span>商务洽谈：zhangfan@zhongbaounion.com</span>
                </div>
            </div>
            <div class="footer-social">
                <div>
                    <img src="./wx.svg">
                    <span>官方公众号</span>
                </div>
                <div>
                    <img src="./wb.svg">
                    <span>微博</span>
                </div>
            </div>
            <div class="footer-phone"><img src="./phone.svg" />服务咨询：010-8646 9285</div>
            <div class="footer-c">
                <span>京公网安备 11010502038814号 京ICP备17058300号-1</span>
                <span>Copyright 2017-2019北京力码科技有限公司</span>
            </div>
        </div>
    </footer>
</div>