<div class="milestone-card">
    <div class="milestone-card-title title-card-main">大事记</div>
    <div class="milestone-info" ref="milestoneInfo">
        <div ref="milestoneInfoText" class="milestone-info-text">
            <div class="milestone">
                <div class="milestone-head">
                    <span>2022</span>
                    <img src="./down.svg">
                </div>
                <div class="milestone-body">
                    <div class="milestone-body-line">
                        <div m>1月</div>
                        <div t>入选朝阳区首批“未来独角兽企业”</div>
                    </div>
                    <div class="milestone-body-line">
                        <div m>3月</div>
                        <div t>入选华夏时报金融研究院发布的《数据智能下的金融数字化转型报告2022》</div>
                    </div>
                </div>
            </div>

            <div class="milestone">
                <div class="milestone-head">
                    <span>2021</span>
                    <img src="./down.svg">
                </div>
                <div class="milestone-body">
                    <div class="milestone-body-line">
                        <div m>2月</div>
                        <div t>完成B轮3亿元融资，独秀资本领投，高瓴创投、GGV纪源资本、心元资本跟投</div>
                    </div>
                    <div class="milestone-body-line">
                        <div m>6月</div>
                        <div t>入选 长城战略咨询《2021GEI中国潜在独角兽企业名单》</div>
                    </div>
                </div>
            </div>
            <div class="milestone" ref="hideMilestone">
                <div class="milestone-head">
                    <span>2020</span>
                    <img src="./down.svg">
                </div>
                <div class="milestone-body">
                    <div class="milestone-body-line">
                        <div m>6月</div>
                        <div t>智能展业销售平台4.0版发布，服务商户1000＋</div>
                    </div>
                    <div class="milestone-body-line">
                        <div m>10月</div>
                        <div t>服务商户2000＋</div>
                    </div>
                    <div class="milestone-body-line">
                        <div m>12月</div>
                        <div t>平台保费突破10亿元</div>
                    </div>
                </div>
            </div>

            <div class="milestone" ref="hideMilestone">
                <div class="milestone-head">
                    <span>2019</span>
                    <img src="./down.svg">
                </div>
                <div class="milestone-body">
                    <div class="milestone-body-line">
                        <div m>3月</div>
                        <div t>“保保”APP上线</div>
                    </div>
                    <div class="milestone-body-line">
                        <div m>9月</div>
                        <div t>完成A4轮2亿元融资，高瓴资本领投，GGV纪源资本、心元资本跟投 </div>
                    </div>
                </div>
            </div>

            <div class="milestone" ref="hideMilestone">
                <div class="milestone-head">
                    <span>2018</span>
                    <img src="./down.svg">
                </div>
                <div class="milestone-body">
                    <div class="milestone-body-line">
                        <div m>2月</div>
                        <div t>完成A1轮融资，丹华资本领投</div>
                    </div>
                    <div class="milestone-body-line">
                        <div m>3月</div>
                        <div t>保险经营SaaS上线</div>
                    </div>
                    <div class="milestone-body-line">
                        <div m>7月</div>
                        <div t>完成A2轮1亿元融资，纪源资本领投</div>
                    </div>
                    <div class="milestone-body-line">
                        <div m>9月</div>
                        <div t>智能供应链平台上线</div>
                    </div>
                    <div class="milestone-body-line">
                        <div m>10月</div>
                        <div t> 智能营销平台上线</div>
                    </div>
                    <div class="milestone-body-line">
                        <div m>12月</div>
                        <div t>完成A3轮融资，GGV纪源资本领投，心元资本跟投</div>
                    </div>
                </div>
            </div>

            <div class="milestone" ref="hideMilestone" style="margin-bottom: 2.5rem;">
                <div class="milestone-head">
                    <span>2017</span>
                    <img src="./down.svg">
                </div>
                <div class="milestone-body">
                    <div class="milestone-body-line">
                        <div m>8月</div>
                        <div t> 力码科技成立，并于同年完成天使轮融资</div>
                    </div>
                </div>
            </div>


        </div>
        <div class="milestone-info-more" ref="showMore">
            <span>展开详细</span>
            <svg class="milestone-info-more-down" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                viewBox="0 0 28 28" fill="none">
                <path d="M21 11L14 17.1327L6.99998 11" stroke="#C02A35" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</div>