.milestone-card {
    margin-bottom: 2.5rem;
    background-color: #F8F9FC;
    overflow: hidden;
}

.milestone-card-title {
    padding: 0 2.5rem;
    margin-top: 3.75rem;
    margin-left: 0 !important;
}

[ref=milestoneInfoText] {
    color: #666;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 3.25rem;
    overflow: hidden;
    position: relative;
}

.milestone-info-more {
    width: 41.875rem;
    height: 5.5rem;
    border-radius: 3px;
    border: 1px solid #C02A35;
    color: #C02A35;
    font-size: 1.75rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5rem;
}

.milestone-info-more-down {
    width: 1.75rem;
    height: 1.75rem;
}

.milestone {
    box-shadow: 0px .625rem 1.25rem rgba(0, 0, 0, 0.05);
    margin-top: 2.5rem;
    width: calc(100% - 5rem);
    margin-left: 2.5rem;
}

.milestone-head {
    background: linear-gradient(90deg, #E4E8EC 0%, rgba(228, 232, 236, 0.00) 100%);
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 2.3rem;
    box-sizing: border-box;
}

.milestone-head span {
    color: #333;
    font-family: DINPro;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

.milestone-head img {
    width: 1.375rem;
    height: 2.8125rem;
}

.milestone-body {
    padding: 0rem 1.6875rem 3.125rem 1.5rem;
}

.milestone-body-line {
    display: flex;
    margin-top: 1.875rem;
}

.milestone-body-line [m] {
    color: #333;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.5rem;
    width: 4rem;
    flex-shrink: 0;
}

.milestone-body-line [t] {
    padding-left: 1.2rem;
    color: #666;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2.5rem;
}

[ref="hideMilestone"] {
    display: none;
}